{% extends "base.html" %}
{% load static %}


{% block body %}
    <div class="container">

    <h1>Connexion</h1>


    {% if   request.connected %}
        <div class="alert alert-primary" role="alert">
            Vous êtes déjà connecté
        </div>

    {% else %}
        <div class="card border-primary my-3">
        <div class="card-body">
            <p class="text-primary">Connectez-vous pour permettre l'export json de fichier de modification en masse
            </p>
        </div>

        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "_form_snippet.html" with form=form %}

            <button type="submit" class="btn btn-primary">Connexion</button>

        </form>

    {% endif %}
</div>
{% endblock %}
